language: php

sudo: false

jdk:
  - oraclejdk8

addons:
  apt:
    packages:
      - oracle-java8-installer


php:
  - 7.1
  - 7.0
  - 5.6

env:
  global:
    - WAIT_FOR_ES=1
  matrix:
    - ES_VERSION=1.7.5
    - ES_VERSION=2.3.3
    - ES_VERSION=5.0.0-alpha5

install:
  - mkdir /tmp/elasticsearch
  - if [ $ES_VERSION = '1.7.5' ]; then wget -O - https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-${ES_VERSION}.tar.gz | tar xz --directory=/tmp/elasticsearch --strip-components=1; fi
  - if [ $ES_VERSION = '2.3.3' ]; then wget -O - https://download.elasticsearch.org/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${ES_VERSION}/elasticsearch-${ES_VERSION}.tar.gz | tar xz --directory=/tmp/elasticsearch --strip-components=1; fi
  - if [ $ES_VERSION = '5.0.0-alpha' ]; then wget -O - https://download.elastic.co/elasticsearch/release/org/elasticsearch/distribution/tar/elasticsearch/${ES_VERSION}/elasticsearch-${ES_VERSION}.tar.gz | tar xz --directory=/tmp/elasticsearch --strip-components=1; fi
  - if [ $ES_VERSION = '1.7.5' ]; then /tmp/elasticsearch/bin/elasticsearch -d --path.data /tmp; fi
  - if [ $ES_VERSION = '2.3.3' ]; then /tmp/elasticsearch/bin/elasticsearch -d --path.data /tmp; fi
  - if [ $ES_VERSION = '5.0.0-alpha' ]; then /tmp/elasticsearch/bin/elasticsearch -d -Epath.conf=/tmp; fi

before_script:
  - composer install -n
  - sleep 10
  - curl http://127.0.0.1:9200/

script:
  - phpunit --coverage-clover build/logs/clover.xml

after_script:
  - if [ $TRAVIS_PHP_VERSION = '7.0' ]; then php vendor/bin/coveralls; fi

after_success:
  - travis_retry php vendor/bin/coveralls -v